<div class="card shadow-lg p-3  rounded">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <hr>
        <small style="font-family: sans-serif; font-style: oblique; font-size: 19px;">{{postagens.conteudo}}</small>
        <hr>
        <br>
        <small>publica do em {{postagens.data}}</small>
    </div>
</div>